/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2, #login h2 {
	text-align: center;
	margin-bottom: 1em;
}
#filtres-travaux {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}
.filtres {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	line-height: 19.2px;
	min-width: 100px;
	height: 37px;
	border-radius: 60px;
	background-color: #FFFEF8;
	border-color: #1D6154;
	text-align: center;
	color: #1D6154;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}
.filtres:hover{
	color: white;
	background-color: #1D6154;
}
.filtres:focus{
	color: white;
	background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	max-width: 100%;
	height: 95%;
	object-fit: fill;
}
#contact {
	width: 50%;
    margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 17em;
}
#login form {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-between;
	height: 20em;
	margin-left: 27%;
	margin-top: 3em;
	margin-bottom: 2em;
	font-size: large;
}
#login h2 {
	font-size: 3em;
}
#login input{
	margin-top: 5px;
	height: 4.5em;
	width : 40em;
}
#boutonSeconnecter {
	max-width: 13em;
	max-height: 3.5em;
	height: 2.5em;
	margin-left: 21%;
	margin-top: 5em;
}
#login p {
	text-decoration-line: underline;
	text-align: center;
	font-size: large;
	
}
#login p:hover {
	color: #B1663C;
}
#instagram {
	order: 1;
}
.modal, #modaleGaleriePhoto{
	position: fixed;
	display:flex;
	align-items: center;
	justify-content: center;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
.modal-wrapper {
	margin-left: 20%;
	margin-top: 25%;
	width: 900px;
	background-color: white;
}
.modal h1{
	text-align: center;
	color: black;
	font-size: 40px;
	line-height: 40px;
	padding-top: 30px;
}
.modal button {
	width: 20%;
	align-self: center;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: large;
}

header div {
	background-color: black;
	color: white;
	font-size: larger;
	font-weight: 100;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	order: -1;
	margin-bottom: 3%;

}
header div i, #introduction i {
	font-size: 700;
	order: -1;
	margin-right: 10px;
}
header div button {
	background-color: white;
	border-radius: 60px;
	height: 35px;
	margin-left: 2%;
	padding-left: 2em;
	padding-right: 2em;
	font: 'work sans';
	font-weight: 500;
}
body, #introduction button, #portfolio h2 button {
	background-color: #FFFEF8;
}
#introduction button, #portfolio h2 button{
	box-shadow: none;
	border: #FFFEF8;
	font-size: medium;
	margin-left: 2%;
}
#introduction button i, #portfolio h2 button i {
	display: flex;
	order: -1;
	margin-right: 10px;
}
#introduction button:hover, #portfolio h2 button:hover {
	color:#B1663C;
}
#introduction figure {
	display: flex;
	flex-direction: column;
}
#introduction button {
	margin-left: 9%;
	margin-top: 2%;
}
#portfolio h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

#modaleGaleriePhoto{
	justify-content: center;
	align-content:center ;
}

#blocmodaleGaleriePhoto, #modaleAjoutPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 85%;
	background-color: #fafafa;
	border-radius: 10px;
}
#modaleAjoutPhoto {
	position: relative;
	height: 80%;
}

#closeModale, #boutonCloseModaleAjoutPhoto {
	border: none;
	background-color:#fafafa;
	align-self: flex-end;
	width: 10px;
	position: absolute;
	right: 33%;
	top: 9%;
	font-size: medium;
	font-weight: bolder;
}

#boutonCloseModaleAjoutPhoto {
	top: 3%;
	right: 7%;
}
#boutonRetourGaleriePhoto {
	border: none;
	background-color: #fafafa;
	max-width: 10%;
	max-height: 3%;
	width: 40%;
	height: 5%;
	font-size: larger;
	position:absolute;
	left: 5%;
	top: 3%;
}

#modaleGaleriePhoto div h2, #modaleAjoutPhoto h2{
	color: black;
	font-size: 30px;
	line-height: 30.5px;
	font-weight: 400;
	font-family: 'Work Sans';
	margin-bottom: 8%;
	margin-top: 10%;
}
#modaleAjoutPhoto h2 {
	position: absolute;
	top: -10px;
}

#modaleGaleriePhoto div p{
	overflow: hidden;
	max-width: 90%;
	max-height: 700px;
	margin-left: 13%;
	margin-right: 10%;
	margin-bottom: 4%;
	padding-bottom: 10%;
	display: flex;
	flex-wrap: wrap;
	border-bottom-style:inset;
	border-bottom-color:lightgray;
	border-bottom-width: 2px;
}
#modaleGaleriePhoto div p div {
	width: 15%;
	height: 28%;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 4%;
	padding-left: 1%;
	padding-bottom: 1%;
	position: relative;
}

#modaleGaleriePhoto div p div img{
	max-width: 100%;
	height: 100%;
	object-fit: fill;
}

#modaleGaleriePhoto div p div:hover #cadreNoirboutonsMove {
	display: block;
}

#boutonEditer {
	width: auto;
	margin-top: 1px;
	align-self: flex-start;
	border: none;
	background-color: rgb(255, 255, 255);
	font-size:15px;
	line-height: 14px;
	font-weight: 400;
	font-family: 'Work Sans';
	position:absolute;
	bottom:-46px;
	left: 2px;
}

#cadreNoirboutonDelete {
	border: none;
	background-color: rgb(0, 0, 0);
	color: white;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	position:absolute;
	top: -9px;
	right: 6%;
	font-size: x-small;
}
#cadreNoirboutonsMove {
	border: none;
	background-color: rgb(0, 0, 0);
	color: white;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	position:absolute;
	font-size: x-small;
	top: -9px;
	right: 31%;
	display: none;
}

#boutonAjouterPhoto {
	background-color:#1D6154;
	border-color: #1D6154;
	color: white;
	border-radius: 30px;
	width: 40%;
	height: 6%;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
}
#boutonAjouterPhoto:active {
	background-color: #113d35;
}

#boutonSupprimergalerie {
	border: none;
	color: #D65353;
	font-family: 'Syne';
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	background-color: #fafafa;
	width: 40%;
	position: absolute;
	bottom: 75px;
}
#boutonSupprimergalerie:active {
	color: rgb(89, 13, 13);
}

#formulaireAjoutPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	border-bottom: #B3B3B3;
	border-bottom-style: groove;
	border-bottom-width: 2px;
	margin-bottom: 22%;
	position: absolute;
	bottom: 0;
}
#boxCadreImage {
	display: flex;
	background-color: #E8F1F6;
	color: #444444;
	font-size: x-small;
	width: 70%;
	min-height:200px;
	position: absolute;
	top: 17%;
}
#textBoxCadreImage{
	position: absolute;
	bottom: 10%;
	left: 41%;
}
#imagePlaceholderBoxCadreImage {
	font-size: 90px;
	color: #B9C5CC;
	position: absolute;
	top: 5%;
	right: 41%;
}

#formulaireAjoutPhoto input {
	margin-top: 2px;
	width: 100%;
	border: none;
}

#inputTitre {
	max-width: 95%;
	height: 55px;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
	color: rgba(68, 68, 68, 1);
	padding-left: 5%;
}

#labelTitre {
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 500;
	position: relative;
	top: 20px;
}

#labelCatégorie {
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 500;
	position: relative;
	top: 20px;
}

#inputAjoutImage{
	background-color: #CBD6DC;
	color: #306685;
	text-align: center;
	font-family: 'Work Sans';
	font-size: 17px;
	line-height: 35px;
	font-weight: 500;
	max-width: 40%;
	height: 15%;
	border-radius: 50px;
	position: absolute;
	bottom: 320px;
}

#catégories {
	width: 100%;
	height: 65px;
	border: none;
	background-color: white;
	margin-bottom: 10%;
	margin-top: 1%;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16px;
	color: rgba(68, 68, 68, 1);
	padding-left: 5%;
}

#inputBoutonValider {
	background-color: #A7A7A7;
	color: #FFFFFF;
	max-width: 55%;
	height: 18%;
	font-size: larger;
	position: absolute;
	bottom: -130px;
}

#inputBoutonValider:hover {
	background-color: #1D6154;
}

#formulaireAjoutPhoto label {
	align-self: flex-start;
	margin-top: 1%;
	margin-bottom: 5%;
}

#placementImageuploade {
	width: 73%;
	height: 73%;
	position: absolute;
	top: -209px;
}

#erreurImageManquante {
	position: absolute;
	top: -110px;
	font-size: larger;
	font-weight: bolder;
	color: red;
}